.main_btn {
  height: 2.3rem;
  width: 10rem;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .15);
  background: rgb(221, 190, 92);
  background: linear-gradient(90deg, rgb(248, 153, 1) 22%, rgb(255, 195, 47) 73%);
}

input {
  width: 400px;
  height: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.error {
  font-size: 12px;
  color: red;
}
