header {
  width: 100%;
  height: 120px;
  display: flex;
  //background-color: rgb(221, 190, 92);
  background: linear-gradient(90deg, rgb(255, 195, 47) 22%, rgb(248, 153, 1) 73%);
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
  border-bottom: 1px solid whitesmoke;
}

.nav_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  width: 40%;
  height: 50%;
  font-size: 0;
  background-repeat: no-repeat;
  //background-position: ;
  background-size: contain;
  background-image: url("../../../assets/Your_budget_logo.svg");
}

nav {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  li {
    margin-left: 10px;
    display: inline-block;

    a {
      display: block;
    }
  }
}

.btn {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 5px 15px 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-family: 'Muli', sans-serif;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: white;
    //background-color: white;
    //border: 2px solid black;
    //box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  }
}
