@import "grid";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page_container {
  width: 1200px;
}


$colors: (
        prmary: rgba(250, 226, 60, 1),
        secondary: rgba(145, 40, 78, 1),
        error: rgba(246, 65, 52, 1)
)